/*User Generated IDs*/
#header-container{
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content:space-between;
    padding: 2rem;
}
#header-logo{
    color: #d14f6c;
    font-family: "Cinzel", arial;
    font-style: italic;
    font-size: 30px;
    font-weight: 800;
}

/*#content-container{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    order: 1;
}*/
#content-element{
    align-items: center;
    display: flex;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    color: whitesmoke;
    font-family: "Quicksand", arial;
    font-size: 30px;
    font-weight: 300;
    justify-content: center;
    margin: 80px;
    padding: 50px;
    line-height: 1.6;
    
}
#image-element{
    display: block;
    background-color: #C7FFD8;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
    width: 50vw;
    height: 95vh;
}
/*User Generated Classes*/
.access-elements a{
    align-items: right;
    background-color: #161d6f;
    border: 2px solid #161d6f;
    border-radius: 20px;
    color: whitesmoke;
    font-family: "Outfit", arial;
    font-weight: 500;
    list-style: none;
    margin-left: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.2s ease;
    
}
/*Standard Tag Elements*/
a{
    color: #161D6F;
    text-decoration: none;
}
body{
    background: linear-gradient(45deg, #161D6F, 60%, #0B2F9F);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 3fr 50px;
    width: 100vw;
    height: 100vh;
}
footer{
    align-items: center;
    background-color: whitesmoke;
    color: #161D6F;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: "Quicksand", arial;
    font-weight: 500;
    justify-content: center;
    padding: 1rem;
    order: 2;
}
/*html , body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}*/
ul{
    display: flex;
    list-style: none;
    margin: 5px;
    gap: 1rem;
    padding: 5px;

}
